.label, input {
    display: inline-flex;
    align-items:flex-start;
    padding: 5px;
    margin: 5px;
    
  }

  body{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }

  h1,p{
    text-align: center;
  }


   
