<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>MADLIBS</h1>
    <div>
        <form action="/story" method="POST">
            {% for prompt in prompts %}
              <label class="label">
                {{prompt}}:
                <input type="text" name="{{prompt}}">
              </label>
            {% endfor %}
            <button type="submit">Submit</button>
              </form>   

    </div>
    
</body>
</html>